Jordan Jenkins 
Data 612  
Franklin University  
May 23, 2021

## Assignment One
Load and explore the stock dataset provided at: https://raw.githubusercontent.com/frankData612/data_612/master/stock_data/stocks_yahoo.csv.

Dataset is provided by the author of the "Easy And Fun With BeautifulSoup". Data are extracted from the Yahoo Finance website and include 90 days of data from November 21, 2019 until April 28, 2020. Data are row, current and good for learning purposes.

In [1]:
# Import needed libraries
import pandas as pd

In [2]:
# Read data from source
df = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/stock_data/stocks_yahoo.csv', low_memory = False)

### Explore Data

In [3]:
df.head(n = 10)

,no,date,company_name,price_at_close,price_change,price_after_hours,previous_close,today opened,price range,52 week range,volume,average volume,market cap,beta (3Y Monthly),PE Ratio,EPS,earnings date,Dividend Yield,1Y target est
0,1,Nov 21 2019,GOOG - Alphabet Inc.,1301.35,-1.70 (-0.13%),1301.35,1303.05,1301.48,"1,293.01 - 1,312.45","970.11 - 1,335.53",825205.00,1280155.0,897.113B,1.01,27.93,46.60,NaN,N/A (N/A),1487.52
1,2,Nov 21 2019,GOOGL - Alphabet Inc.,1300.14,-1.72 (-0.13%),1300.14,1301.86,1299.25,"1,290.75 - 1,311.04","977.66 - 1,333.92",1058179.00,1296875.0,897.098B,1.01,27.90,46.60,"Feb 3, 2020 - Feb 7, 2020",N/A (N/A),1459.33
2,3,Nov 21 2019,IBM - International Business Machines Corporation,133.84,+0.64 (+0.48%),133.84,133.20,133.40,132.98 - 134.17,105.94 - 152.95,2732256.00,3483052.0,118.534B,1.34,15.55,8.60,21-Jan-20,6.48 (4.86%),148.30
3,4,Nov 21 2019,MSFT - Microsoft Corporation,149.48,-0.14 (-0.09%),149.48,149.62,149.40,148.51 - 149.80,93.96 - 151.33,16125077.00,22813109.0,1.14T,1.23,28.20,5.30,"Jan 28, 2020 - Feb 3, 2020",2.04 (1.36%),160.16
4,5,Nov 21 2019,AAPL - Apple Inc.,262.01,-1.18 (-0.45%),262.01,263.19,263.69,261.18 - 264.01,142.00 - 268.00,28768117.00,25813040.0,1.184T,1.25,22.04,11.89,"Jan 27, 2020 - Jan 31, 2020",3.08 (1.16%),257.21
5,6,Nov 21 2019,"AMZN - Amazon.com, Inc.",1734.71,-10.82 (-0.62%),1734.71,1745.53,1743.00,"1,730.46 - 1,746.80","1,307.00 - 2,035.80",2363912.00,2944623.0,860.064B,1.57,76.87,22.57,"Jan 29, 2020 - Feb 3, 2020",N/A (N/A),2183.86
6,7,Nov 21 2019,CGC - Canopy Growth Corporation,20.29,+2.65 (+15.02%),20.29,17.64,19.33,18.54 - 21.56,13.81 - 52.74,38160003.00,5954800.0,7.091B,4.11,NaN,-1.79,NaN,N/A (N/A),NaN
7,8,Nov 21 2019,ORCL - Oracle Corporation,56.23,-0.01 (-0.02%),56.23,56.24,56.22,56.12 - 56.59,42.40 - 60.50,7544754.00,11752826.0,184.576B,1.15,18.41,3.06,"Dec 16, 2019 - Dec 20, 2019",0.96 (1.70%),56.27
8,9,Nov 21 2019,"FIVN - Five9, Inc.",65.53,+0.37 (+0.57%),65.53,65.16,65.29,64.97 - 66.19,36.46 - 66.19,465422.00,637576.0,4.002B,0.64,NaN,-0.03,"Feb 17, 2020 - Feb 21, 2020",N/A (N/A),66.40
9,10,Nov 21 2019,JPM - JPMorgan Chase & Co.,129.93,+0.30 (+0.23%),129.93,129.63,130.00,129.39 - 130.72,91.11 - 131.29,7036613.00,10913607.0,407.523B,1.20,12.83,10.13,14-Jan-20,3.60 (2.78%),123.71

In [4]:
df.tail(n = 10)

,no,date,company_name,price_at_close,price_change,price_after_hours,previous_close,today opened,price range,52 week range,volume,average volume,market cap,beta (3Y Monthly),PE Ratio,EPS,earnings date,Dividend Yield,1Y target est
67895,67896,Apr 28 2020,"MDB - MongoDB, Inc.",154.75,-5.62 (-3.51%),154.75,160.38,164.35,153.95 - 163.00,93.81 - 184.78,709497.00,1276222.0,8.908B,0.52,NaN,-3.14,17-Mar-20,N/A (N/A),137.25
67896,67897,Apr 28 2020,"BHE - Benchmark Electronics, Inc.",22.12,+0.45 (+2.08%),22.12,21.67,22.24,21.84 - 22.43,14.06 - 37.36,228007.00,328088.0,805.511M,1.20,36.87,0.60,29-Apr-20,0.64 (2.95%),24.00
67897,67898,Apr 28 2020,JBL - Jabil Inc.,26.85,+0.36 (+1.36%),26.85,26.49,27.43,26.41 - 27.60,17.63 - 44.20,941616.00,1798717.0,4.047B,1.26,31.44,0.85,"Jun 16, 2020 - Jun 22, 2020",0.32 (1.21%),34.13
67898,67899,Apr 28 2020,SANM - Sanmina Corporation,26.93,-0.98 (-3.51%),26.93,27.91,26.51,25.69 - 27.77,18.34 - 34.96,674415.00,553044.0,1.902B,NaN,18.43,1.46,"Jul 27, 2020 - Jul 31, 2020",N/A (N/A),28.00
67899,67900,Apr 28 2020,PLXS - Plexus Corp.,62.36,+1.80 (+2.97%),62.36,60.56,61.77,61.77 - 64.18,35.16 - 86.53,220017.00,188241.0,1.82B,1.04,17.83,3.50,"Jul 15, 2020 - Jul 20, 2020",N/A (N/A),66.75
67900,67901,Apr 28 2020,FLEX - Flex Ltd.,9.11,+0.30 (+3.41%),9.11,8.81,9.11,8.87 - 9.31,5.36 - 14.00,4175426.00,5924769.0,4.591B,1.88,NaN,-0.05,7-May-20,N/A (N/A),12.83
67901,67902,Apr 28 2020,"MEI - Methode Electronics, Inc.",29.84,+0.32 (+1.08%),29.84,29.52,30.19,29.70 - 30.75,21.76 - 41.70,206184.00,236257.0,1.107B,1.43,9.72,3.07,"Jun 18, 2020 - Jun 22, 2020",0.44 (1.49%),33.33
67902,67903,Apr 28 2020,IEC - IEC Electronics Corp.,7.01,0.00 (0.00%),7.01,7.01,7.10,6.93 - 7.10,5.00 - 9.57,3880.00,34352.0,72.812M,0.94,15.24,0.46,6-May-20,N/A (N/A),11.50
67903,67904,Apr 28 2020,"MGLN - Magellan Health, Inc.",55.11,-0.03 (-0.05%),55.11,55.14,54.74,53.28 - 56.21,30.60 - 81.04,167075.00,193042.0,1.361B,0.97,24.17,2.28,11-May-20,N/A (N/A),67.67
67904,67905,Apr 28 2020,"ZS - Zscaler, Inc.",66.72,-3.75 (-5.32%),66.72,70.47,71.00,66.26 - 71.20,35.00 - 89.54,3035697.00,3062403.0,8.63B,0.54,NaN,-0.50,20-Feb-20,N/A (N/A),67.62

In [5]:
print("Columns:")
for col in df.columns:
    print(col)

Columns:
no
date
company_name
price_at_close
price_change
price_after_hours
previous_close
today opened
price range
52 week range
volume
average volume
market cap
beta (3Y Monthly)
PE Ratio
EPS
earnings date
Dividend Yield
1Y target est

In [6]:
type(df)

pandas.core.frame.DataFrame

Overall, the dataset is a pandas data frame. Below, are the types of each column in the dataset.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67905 entries, 0 to 67904
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   no                 67905 non-null  int64
 1   date               67905 non-null  object
 2   company_name       67905 non-null  object
 3   price_at_close     67761 non-null  float64
 4   price_change       67761 non-null  object
 5   price_after_hours  67761 non-null  float64
 6   previous_close     67761 non-null  float64
 7   today opened       67750 non-null  float64
 8   price range        67756 non-null  object
 9   52 week range      67657 non-null  object
 10  volume             67752 non-null  object
 11  average volume     66584 non-null  float64
 12  market cap         67298 non-null  object
 13  beta (3Y Monthly)  63163 non-null  float64
 14  PE Ratio           60220 non-null  float64
 15  EPS                64962 non-null  float64
 16  earnings date      57611 non-null  object
 17  Dividend Yield     67625 non-null  object
 18  1Y target est      57931 non-null  float64
dtypes: float64(9), int64(1), object(9)
memory usage: 9.8+ MB

In [8]:
print(f"""
    Rows: {df.shape[0]}
    Columns: {df.shape[1]}
    """
)

    Rows: 67905
    Columns: 19

In [9]:
# convert date to datetime so it can be used for grouping
df['date'] = pd.to_datetime(df['date'])

In [10]:
# Select date, company, average volume and 1Y target estimate.
df_sub = df[["date", "company_name", "average volume", "1Y target est"]]

Group the average volume and 1Y estimate by company and week, giving a weekly average of these values for each company.

In [11]:
df_sub.groupby(['company_name', df_sub['date'].dt.isocalendar().week]).mean()

                                           average volume  1Y target est
company_name                         week
A - Agilent Technologies, Inc.       1       1.575147e+06      86.210000
                                     2       1.564388e+06      86.570000
                                     3       1.588352e+06      88.810000
                                     4       1.621622e+06      88.810000
                                     5       1.679954e+06      90.060000
...                                                   ...            ...
ZYNE - Zynerba Pharmaceuticals, Inc. 14      6.070563e+05      15.710000
                                     15      5.950563e+05      15.710000
                                     16      5.591173e+05      15.710000
                                     17      5.378160e+05      15.583333
                                     18      5.354520e+05      15.330000

[20266 rows x 2 columns]

## Assignment Two
Save the dataset as a csv file.
Upload the assignment on your GitHub account and Update the README file where you explain everything you did.

In [12]:
# I converted the date column to datetime in 9 above.
df.head()

,no,date,company_name,price_at_close,price_change,price_after_hours,previous_close,today opened,price range,52 week range,volume,average volume,market cap,beta (3Y Monthly),PE Ratio,EPS,earnings date,Dividend Yield,1Y target est
0,1,2019-11-21,GOOG - Alphabet Inc.,1301.35,-1.70 (-0.13%),1301.35,1303.05,1301.48,"1,293.01 - 1,312.45","970.11 - 1,335.53",825205.00,1280155.0,897.113B,1.01,27.93,46.60,NaN,N/A (N/A),1487.52
1,2,2019-11-21,GOOGL - Alphabet Inc.,1300.14,-1.72 (-0.13%),1300.14,1301.86,1299.25,"1,290.75 - 1,311.04","977.66 - 1,333.92",1058179.00,1296875.0,897.098B,1.01,27.90,46.60,"Feb 3, 2020 - Feb 7, 2020",N/A (N/A),1459.33
2,3,2019-11-21,IBM - International Business Machines Corporation,133.84,+0.64 (+0.48%),133.84,133.20,133.40,132.98 - 134.17,105.94 - 152.95,2732256.00,3483052.0,118.534B,1.34,15.55,8.60,21-Jan-20,6.48 (4.86%),148.30
3,4,2019-11-21,MSFT - Microsoft Corporation,149.48,-0.14 (-0.09%),149.48,149.62,149.40,148.51 - 149.80,93.96 - 151.33,16125077.00,22813109.0,1.14T,1.23,28.20,5.30,"Jan 28, 2020 - Feb 3, 2020",2.04 (1.36%),160.16
4,5,2019-11-21,AAPL - Apple Inc.,262.01,-1.18 (-0.45%),262.01,263.19,263.69,261.18 - 264.01,142.00 - 268.00,28768117.00,25813040.0,1.184T,1.25,22.04,11.89,"Jan 27, 2020 - Jan 31, 2020",3.08 (1.16%),257.21

In [13]:
max_date = df.date.max()
print(f'Maximum date: {max_date}')

Maximum date: 2020-04-28 00:00:00

In [14]:
# Subtract all dates from max date column
df["days_from_max_date"] = max_date - df.date

In [15]:
# Confirmation, everything is as expected
df[['date', 'days_from_max_date']].sample(20)

            date days_from_max_date
42891 2020-03-16            43 days
64988 2020-04-23             5 days
36327 2020-03-04            55 days
19783 2020-01-31            88 days
1138  2019-12-09           141 days
62918 2020-04-20             8 days
47305 2020-03-20            39 days
18061 2020-01-22            97 days
36756 2020-03-05            54 days
1186  2019-12-09           141 days
58210 2020-04-13            15 days
48923 2020-03-25            34 days
48957 2020-03-25            34 days
66820 2020-04-27             1 days
19417 2020-01-31            88 days
28396 2020-02-18            70 days
61036 2020-04-16            12 days
66634 2020-04-27             1 days
22446 2020-02-05            83 days
8791  2019-12-24           126 days

In [16]:
import numpy as np
# Convert to months, this is a constant month of 31 days.
# Divide the days_from_max_date series by a NumPy scalar of the number of days in a month.
df['months_from_max_date'] = df['days_from_max_date'] / np.timedelta64(1, "M")

In [17]:
# Confirmation, everything is as expected
df[['date', 'days_from_max_date', 'months_from_max_date']].sample(20)

            date days_from_max_date  months_from_max_date
8342  2019-12-23           127 days              4.172570
10313 2019-12-26           124 days              4.074006
47880 2020-03-23            36 days              1.182776
24537 2020-02-07            81 days              2.661246
32534 2020-02-26            62 days              2.037003
12841 2020-01-02           117 days              3.844021
21524 2020-02-04            84 days              2.759810
42425 2020-03-13            46 days              1.511325
3572  2019-12-13           137 days              4.501119
23398 2020-02-06            82 days              2.694100
56152 2020-04-07            21 days              0.689953
22890 2020-02-05            83 days              2.726955
51400 2020-03-30            29 days              0.952792
40807 2020-03-11            48 days              1.577034
38937 2020-03-09            50 days              1.642744
13730 2020-01-03           116 days              3.811167
34669 2020-03-02            57 days              1.872728
20075 2020-01-31            88 days              2.891230
63127 2020-04-20             8 days              0.262839
64210 2020-04-22             6 days              0.197129

In [18]:
# df.to_csv('stocks_w_date_diff.csv')

## Assignment 3
Create three plots utilizing seaborn.

In [19]:
# Import plotting libraries
import matplotlib.pyplot as plt
import seaborn as sns

### Feature Engineering
Some columns are not useful for analysis as they currently stand. I will be converting the 52 week range into two columns representing the min and max 52 week value, the daily price range into daily min and max values, and the price change into a percent change and absolute change value.

In [20]:
# Split out 52 week price range into min and max value
new = df['52 week range'].str.split(' - ', n=1, expand=True)
df['min_52'] = new[0]
df['max_52'] = new[1]
df.drop(columns='52 week range', inplace=True)

In [21]:
# Split daily range into min and max value
new = df['price range'].str.split(' - ', n=1, expand=True)
df['min_daily'] = new[0]
df['max_daily'] = new[1]
df.drop(columns='price range', inplace=True)

In [22]:
# Split price change into pct change and actual change
new = df['price_change'].str.split(' ', n=1, expand=True)
df['price_chng'] = new[0]
df['price_chng_pct'] = new[1].str[1:-2]
df.drop(columns='price_change', inplace=True)

In [26]:
df.head()

,no,date,company_name,price_at_close,price_after_hours,previous_close,today opened,volume,average volume,market cap,...,Dividend Yield,1Y target est,days_from_max_date,months_from_max_date,min_52,max_52,min_daily,max_daily,price_chng,price_chng_pct
0,1,2019-11-21,GOOG - Alphabet Inc.,1301.35,1301.35,1303.05,1301.48,825205.00,1280155.0,897.113B,...,N/A (N/A),1487.52,159 days,5.223927,970.11,"1,335.53","1,293.01","1,312.45",-1.70,-0.13
1,2,2019-11-21,GOOGL - Alphabet Inc.,1300.14,1300.14,1301.86,1299.25,1058179.00,1296875.0,897.098B,...,N/A (N/A),1459.33,159 days,5.223927,977.66,"1,333.92","1,290.75","1,311.04",-1.72,-0.13
2,3,2019-11-21,IBM - International Business Machines Corporation,133.84,133.84,133.20,133.40,2732256.00,3483052.0,118.534B,...,6.48 (4.86%),148.30,159 days,5.223927,105.94,152.95,132.98,134.17,+0.64,+0.48
3,4,2019-11-21,MSFT - Microsoft Corporation,149.48,149.48,149.62,149.40,16125077.00,22813109.0,1.14T,...,2.04 (1.36%),160.16,159 days,5.223927,93.96,151.33,148.51,149.80,-0.14,-0.09
4,5,2019-11-21,AAPL - Apple Inc.,262.01,262.01,263.19,263.69,28768117.00,25813040.0,1.184T,...,3.08 (1.16%),257.21,159 days,5.223927,142.00,268.00,261.18,264.01,-1.18,-0.45